.home {
  margin-top: 60px;
  padding: 20px;
}

.home__section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header__logo {
  display: flex;
  gap: 15px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard__title {
  font-size: 2rem;
  font-weight: 800;
}

.dashboard__date {
  color: #6d6d6d;
}

.dashboard__cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.dashboard__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  width: 46%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgb(207, 207, 207);
}

.dashboard__icon svg {
  width: 30px;
  height: 30px;
}

.dashboard__number {
  font-size: 2rem;
  font-weight: 800;
}

.dashboard__desc {
  color: #6d6d6d;
}

.dashboard__cards .dashboard__card:first-child svg {
  stroke: #818cf8;
}

.dashboard__cards .dashboard__card:nth-child(2) svg {
  stroke: #c084fc;
}

.dashboard__cards .dashboard__card:nth-child(3) svg {
  stroke: #f87171;
}
.dashboard__cards .dashboard__card:last-child svg {
  stroke: #34d399;
}

.appointments {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-bottom: 80px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgb(207, 207, 207);
}

.appointments__desc {
  display: flex;
  justify-content: space-between;
}

.appointments__title {
  font-weight: 800;
}

.appointments__btn {
  color: rgb(13, 148, 136);
}

.appointments__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .home {
    position: relative;
    margin-top: 10px;
    left: 200px;
    max-width: 800px;
  }

  .dashboard__title {
    font-size: 2rem;
  }

  .dashboard__card {
    min-width: 40%;
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .home {
    max-width: 850px;
  }

  .dashboard__title {
    font-size: 2rem;
  }

  .dashboard__card {
    max-width: 23%;
    min-width: 20%;
  }
}
